body {
    position: relative;
    width: 100%;
    display: block;
  }
    ul{
      list-style: none;
    }
  body > *  {
    margin: auto;
    width: 100%;
    display: block;
    overflow: auto;
    font-size: 18px;
  }

  body > script {
    display: none
  }
   .form-group{
    align-content: center;
   }
   #mostrarmodal{
     height: 80% !important;
   }

   .modal-backdrop.in {
    opacity: 1 !important;
   }